body {
  background-color: #186192;
  /* background-color: #17405c; */
}

.cardStyle {
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  /* margin-bottom: 15px; */
}
img {
  margin: 10px;
  height: 200px;
  /* width: 50px; */
}
